<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<script>console.warn('REMINDER: SET PAGE METADATA (Title, Description, Favicon)')</script>
        <title></title>
        <meta name="description" content="">
		<link rel="icon" type="image/png" href="">

		<meta name="viewport" content="width=device-width">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
    </head>
    <body>

    <% if flash[:color]== "valid" %>
        <div class="valid_notice">
          <p><%= flash[:notice] %></p>
        </div>
    <% elsif flash[:color]== "invalid" %>
        <div class="invalid_notice">
          <p><%= flash[:notice] %></p>
        </div>
    <% else %>
        <div class="notice">
          <p><%= flash[:notice] %></p>
        </div>
    <% end %>
    <%= render 'layouts/header' unless @page == 'index' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </body>
</html>
